@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=608b9f3abd816516ef9677d834496b9d'); /* IE9 */
  src: url('iconfont.eot?t=608b9f3abd816516ef9677d834496b9d#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=608b9f3abd816516ef9677d834496b9d') format('woff2'),
  url('iconfont.woff?t=608b9f3abd816516ef9677d834496b9d') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=608b9f3abd816516ef9677d834496b9d') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=608b9f3abd816516ef9677d834496b9d#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowDown:before {
  content: "\e001";
}
.icon-clear:before {
  content: "\e002";
}
.icon-copy:before {
  content: "\e003";
}
.icon-enter:before {
  content: "\e004";
}
.icon-insert:before {
  content: "\e005";
}
.icon-loading:before {
  content: "\e006";
}
.icon-mouse:before {
  content: "\e007";
}
.icon-tablet:before {
  content: "\e008";
}
.icon-collect:before {
  content: "\e009";
}
.icon-dark:before {
  content: "\e00a";
}
.icon-language:before {
  content: "\e00b";
}
.icon-mail:before {
  content: "\e00c";
}
.icon-notice:before {
  content: "\e00d";
}
.icon-play:before {
  content: "\e00e";
}
.icon-search:before {
  content: "\e00f";
}
.icon-Vector:before {
  content: "\e011";
}
.icon-nav:before {
  content: "\e012";
}
.icon-edit:before {
  content: "\e013";
}
.icon-manage:before {
  content: "\e014";
}
.icon-github:before {
  content: "\e015";
}
.icon-tg:before {
  content: "\e016";
}
.icon-x:before {
  content: "\e017";
}
.icon-home:before {
  content: "\e019";
}
.icon-create:before {
  content: "\e01a";
}
.icon-close:before {
  content: "\e01b";
}
.icon-light:before {
  content: "\e01c";
}
.icon-ic:before {
  content: "\e01d";
}
.icon-eth:before {
  content: "\e01e";
}
.icon-google:before {
  content: "\e01f";
}
.icon-metamask:before {
  content: "\e020";
}
.icon-select:before {
  content: "\e021";
}
.icon-down:before {
  content: "\e022";
}
.icon-code:before {
  content: "\e023";
}
.icon-condition:before {
  content: "\e024";
}
.icon-contract:before {
  content: "\e025";
}
.icon-display:before {
  content: "\e026";
}
.icon-form:before {
  content: "\e027";
}
.icon-http:before {
  content: "\e028";
}
.icon-interaction:before {
  content: "\e029";
}
.icon-left:before {
  content: "\e02a";
}
.icon-ui:before {
  content: "\e02b";
}
.icon-wallet:before {
  content: "\e02c";
}
.icon-variables:before {
  content: "\e02d";
}
.icon-add:before {
  content: "\e02e";
}
.icon-ethereum:before {
  content: "\e030";
}
.icon-info:before {
  content: "\e031";
}
.icon-more:before {
  content: "\e032";
}
.icon-ic2:before {
  content: "\e034";
}
.icon-fold:before {
  content: "\e036";
}
.icon-unfold:before {
  content: "\e037";
}
.icon-drag:before {
  content: "\e038";
}
.icon-time:before {
  content: "\e039";
}
.icon-save:before {
  content: "\e03a";
}
.icon-constant:before {
  content: "\e03b";
}
.icon-global:before {
  content: "\e03c";
}
.icon-arrowDown2:before {
  content: "\e03d";
}
.icon-clear2:before {
  content: "\e03e";
}
.icon-discord:before {
  content: "\e03f";
}
.icon-close2:before {
  content: "\e040";
}
.icon-reduce:before {
  content: "\e041";
}
.icon-push:before {
  content: "\e042";
}
.icon-ui-wrong:before {
  content: "\e043";
}
.icon-ui-true:before {
  content: "\e044";
}
.icon-collect2:before {
  content: "\e045";
}
.icon-refresh:before {
  content: "\e04d";
}
.icon-setting:before {
  content: "\e04e";
}
.icon-contracts:before {
  content: "\e04f";
}
.icon-open:before {
  content: "\e050";
}
